.center-box {
    text-align: center;
    position: relative;
    top: 40vh;
}

/* Loader */
.loader {
    border: 12px solid #f3f3f3; /* Light grey */
    border-top: 12px solid #f7ad0d; /* Blue */
    border-radius: 50%;
    width: 90px;
    height: 90px;
    animation: spin 2s linear infinite;
    margin: auto;
}

.loader-text {
    margin-top: 20px;
    text-transform: uppercase;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}